/*************************************/
/* BELOW 1790px(Desktops) breakpoint divide by 16px browser standard*/
/*************************************/
@media screen and (max-width: 115em) {
  /* make use of responsive units to reduce the size of everything */
  /*9px / 16px == 56.25%  */
  html {
    font-size: 56.25%;
  }
}

/*************************************/
/* BELOW 1610px(Desktops) breakpoint divide by 16px browser standard*/
/*************************************/
@media screen and (max-width: 100em) {
  /* main header with name, profile name and navigation */
  .top-nav {
    padding-top: 0rem;
    height: 16rem;
    /* flex-direction: column; */
    flex-wrap: nowrap;
  }

  .profile-img {
    position: absolute;
    top: 32rem;
  }
  .section-about {
    font-size: 3rem;
  }

  .section-about-me {
    font-size: 3rem;
  }

  .sub-heading {
    font-size: 3rem;
  }

  /* This is the text on the background image for the recent work section */
  .section-recent-main-text {
    font-size: 2rem;
    padding: 0.2rem;
    left: 2rem;
    top: 55%;
  }
  /* This is the first previous work text on the background image */
  .section-previous-first-text {
    font-size: 2rem;
    padding: 0.2rem;
    left: 2rem;
    top: 80%;
  }

  /* This is the second  previous work text on the background image */
  .section-previous-second-text {
    font-size: 2rem;
    padding: 0.2rem;
    margin-right: 15%;
    top: 70%;
  }

  /* This is the third  previous work text on the background image */
  .section-previous-third-text {
    font-size: 2rem;
    padding: 0.2rem;
    left: 2rem;
    top: 80%;
  }

  /* This is the fourth  previous work text on the background image */
  .section-previous-fourth-text {
    font-size: 2rem;
    padding: 0.2rem;
    top: 70%;
  }
}

/*************************************/
/* BELOW 700px(small tablets) breakpoint divide by 16px browser standard*/
/*************************************/
@media screen and (max-width: 45em) {
  /* main header with name, profile name and navigation */
  .top-nav {
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .profile-img {
    position: static;
    top: 0rem;
  }

  /* profile header containing name 'profile' made absolute to display on top of background image */
  .profile-heading {
    margin-right: 15%;
  }

  .section-about-text {
    font-size: 2rem;
    grid-column: 2;
    grid-row: 1;
    align-content: start;
  }

  /* section work done with padding incuding border between background image */
  .section-work {
    border-right: 1rem solid #1b5e81e8;
    /* spans 4 rows */
    grid-row: 2 / 7;
    margin-right: 4%;
  }

  .article-work {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
  }

  /* This is the text on the background image for the recent work section */
  .section-recent {
    grid-column: 2 / span 3;
    grid-row: 2/3;
  }

  /* This is the text on the background image for the recent work section */
  .section-recent-main-text {
    font-size: 2rem;
    padding: 0.2rem;
    left: 1rem;
    top: 8%;
  }

  /* This is the first previous work text on the background image */
  .section-previous-first {
    grid-column: 2 / span 3;
    grid-row: 3/4;
  }

  /* This is the first previous work text on the background image */
  .section-previous-first-text {
    font-size: 2rem;
    padding: 0.2rem;
    left: 2rem;
    top: 78%;
  }

  /* This is the second  previous work text on the background image */
  .section-previous-second {
    grid-column: 2 / span 3;
    grid-row: 4/5;
  }

  /* This is the second  previous work text on the background image */
  .section-previous-second-text {
    font-size: 2rem;
    padding: 0.2rem;
    top: 55%;
  }

  /* This is the third  previous work text on the background image */
  .section-previous-third {
    grid-column: 2 / span 3;
    grid-row: 5/6;
  }

  /* This is the third  previous work text on the background image */
  .section-previous-third-text {
    font-size: 2rem;
    padding: 0.2rem;
    left: 2rem;
    top: 78%;
  }

  /* This is the fourth  previous work text on the background image */
  .section-previous-fourth {
    grid-column: 2 / span 3;
    grid-row: 6/7;
  }

  /* This is the fourth  previous work text on the background image */
  .section-previous-fourth-text {
    font-size: 2rem;
    padding: 0.2rem;
    left: 1rem;
    top: 64%;
  }
  .footer {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }

  /* styling for contact section in footer  title*/
  .section-footer-contact {
    margin-right: 0%;
  }

  /* this is the contact details styling for the unordered list element */
  .section-contact-ul {
    display: flex;
    flex-direction: column;
    background-color: #cffafe;
    /* set padding to zero as it is being inherited from the ul styling above. */
    font-size: 1.2rem;
    margin-top: 0%;
    line-height: 2rem;
  }

  /* This is the display for the lists of the unordered list for the contact section*/
  .section-contact-li {
    list-style-type: none;
    padding: 1rem;
  }
}
