* {
  /* reset paddings and margins to zero and box-sizing to border box
  The box-sizing will shrink to make space for the padding and borders.*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /*10 px / 16px = 0.625% */
  /* 1 rem -> 10 px  easier to calculate */
  /* percentahge of user's browsers font-size setting */
  font-size: 62.5%;
  /* all elements that overflow the viewport on the x axis is hidden */
  /* only works if there is nothing absolutely postioned in relation to the body */
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: #cffafe;
}
