/* This is the styling for the 'ME' in About Me and Contact Me to position it in the correct place */
span {
  display: block;
  padding: 0.5rem;
  font-size: 2rem;
}

/* This is the styling for the paragraphs in the About Me, Work and Contact Me sections */
p {
  padding: 2rem;
}

/* main header with name, profile name and navigation */
.main-header {
  display: flex;
  flex-wrap: wrap;
  /* gap: 70rem; */
  background-color: #333;
  width: 100vw;
}

/* h1 header with name at the top of the page left. */
.h1-header {
  font-size: 6rem;
  text-align: right;
  color: #333;
  background-color: #67e8f9;
  height: 8%;
  padding: 2rem;
  margin-top: 2%;
  margin-bottom: 2%;
}
.main-nav {
  width: 78vw;
}

/* styling for main naviation at the top of the page. */
.top-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* text-align: right; */
  color: #67e8f9;
  height: 8rem;
  padding-top: 5rem;
}

/* This is the styling for the lists of the main navigation at the top of the page */
.top-nav-list {
  list-style-type: none;
  font-size: 3rem;
  padding: 2rem;
}

/* This is the styling for the lists of the main navigation at the top of the page */
.top-nav-list a {
  text-decoration: none;
  border-bottom: 0.5rem solid;
  /* increase underline of anchor tag */
  padding: 1rem;
  margin: 0 -1rem;
}

/* There is a conflict with the links on the sight which is why !important is used to force them to work */
.top-nav-list a:hover,
.top-nav-list a:active {
  color: #fff !important;
}

/* This is the styling for the lists of the main navigation at the top of the page */
.top-nav-list a:link,
.top-nav-list a:visited {
  color: #67e8f9;
}

/* main container for about me, work and contact sections */
.container {
  max-width: 100vw;
  /* auto gives the same value to the left and right side */
  padding: 0 3.2rem;
  margin: 0 auto;
}

/* profile container holds the name 'profile'. relative to allow name 'profile' to display on top of background image */
.section-profile-container {
  height: 40rem;
  width: 100%vw;
}

.profile-head {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 10rem;
}

/* profile header containing name 'profile' made absolute to display on top of background image */
.profile-heading {
  position: absolute;
  font-size: 4rem;
  text-align: center;
  background-color: rgb(103, 232, 249);
  padding: 2rem;
  width: 30rem;
  margin-right: 5%;
  top: 43rem;
}

.profile-img {
  position: absolute;
  top: 20rem;
}

/* name 'profile' displays on this background image */
.section-profile-img {
  /* access image directly from css file */
  background-image: url("../images/wood-panels.jpg");
  /* background image covers the entire element */
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100vw;
}

/* this is the grid for the container displaying the whole content from the about me upto and including the contact me section */
.article-work {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(5, 1fr); */
  grid-template-rows: auto auto auto auto auto;
  column-gap: 2rem;
  row-gap: 2rem;
}

/* section about me with padding and justification right fincluding border rom about me text */
.section-about {
  /* display: flex; */
  border-right: 1rem solid #1b5e81e8;
  margin-right: 4%;
  margin-top: 4%;
}

/* This is the style about me section haeading which is also used for the work and contact headings */
.sub-heading {
  font-size: 6rem;
  text-align: right;
  padding: 0 2rem 0 2rem;
}

/* this is the section about me style for that heading */
.section-about-me {
  font-size: 6rem;
  text-align: right;
}

/* This is the section about me style for the text */
.section-about-text {
  font-size: 2rem;
  grid-column: 2 / span 3;
  grid-row: 1/2;
  align-content: start;
  justify-self: start;
}

/* section work done with padding incuding border between background image */
.section-work {
  border-right: 1rem solid #1b5e81e8;
  /* spans 4 rows */
  grid-row: 2 / 5;
  margin-right: 4%;
}

/* This is the recent work which is the first image which is the largest. It places the image and text in a specific cell in the grid*/
.section-recent {
  position: relative;
  grid-column: 2 / span 3;
  grid-row: 2/3;
  border: 0.5rem solid #67e8f9;
  width: fit-content;
  height: fit-content;
}

/* This is the background image for the recent work section */
.section-recent-img {
  /* access image directly from css file */
  max-width: 100%;
}
/* This is the text on the background image for the recent work section */
.section-recent-main-text {
  background-color: #67e8f9;
  position: absolute;
  font-size: 3rem;
  font-weight: 500;
  padding: 2rem;
  top: 70%;
  left: 3rem;
}

/* This is the first previous work section which places it in a precise cell in the grid */
.section-previous-first {
  grid-column: 2/3;
  grid-row: 3/4;
  position: relative;
  border: 0.5rem solid #67e8f9;
  width: fit-content;
  height: fit-content;
}

/* This is the first previous work section background image */

.section-previous-first-img {
  /* access image directly from css file */
  max-width: 100%;
}

/* This is the first previous work text on the background image */
.section-previous-first-text {
  background-color: #67e8f9;
  position: absolute;
  font-size: 3rem;
  font-weight: 500;
  padding: 2rem;
  top: 85%;
  left: 3rem;
}

/* This is the second previous work section which places it in a precise cell in the grid */
.section-previous-second {
  grid-column: 3 / end;
  grid-row: 3/4;
  position: relative;
  border: 0.5rem solid #67e8f9;
  width: fit-content;
  height: fit-content;
  top: 7%;
}

/* This is the second previous work section background image */
.section-previous-second-img {
  /* access image directly from css file */
  max-width: 100%;
}

/* This is the second  previous work text on the background image */
.section-previous-second-text {
  background-color: #67e8f9;
  position: absolute;
  font-size: 3rem;
  font-weight: 500;
  padding: 2rem;
  top: 83%;
  left: 3rem;
}

/* This is the third previous work text on the background image */
.section-previous-third {
  grid-column: 2/3;
  grid-row: 4/5;
  position: relative;
  border: 0.5rem solid #67e8f9;
  width: fit-content;
  height: fit-content;
  top: 1%;
}

/* This is the third previous work section background image */
.section-previous-third-img {
  /* access image directly from css file */
  max-width: 100%;
}

/* This is the third  previous work text on the background image */
.section-previous-third-text {
  background-color: #67e8f9;
  position: absolute;
  font-size: 3rem;
  font-weight: 500;
  padding: 2rem;
  top: 85%;
  left: 3rem;
}

/* This is the fourth previous work text on the background image */
.section-previous-fourth {
  grid-column: 3 / end;
  grid-row: 4/5;
  position: relative;
  border: 0.5rem solid #67e8f9;
  width: fit-content;
  height: fit-content;
}

/* This is the fourth previous work section background image */
.section-previous-fourth-img {
  /* access image directly from css file */
  max-width: 100%;
}

/* This is the fourth  previous work text on the background image */
.section-previous-fourth-text {
  background-color: #67e8f9;
  position: absolute;
  font-size: 3rem;
  font-weight: 500;
  padding: 2rem;
  top: 82%;
  left: 3rem;
}

/* this is the contact details styling for the unordered list element */
.section-contact-ul {
  grid-column: 2 / end;
  background-color: #cffafe;
  /* set padding to zero as it is being inherited from the ul styling above. */
  font-size: 3rem;
  margin: 0 auto;
  margin-top: 5%;
}

/* This is the display for the lists of the unordered list for the contact section*/
.section-contact-li {
  display: inline;
  list-style-type: none;
  line-height: 1.8em;
  padding: 3rem;
}

/* This is the main styling for the li lists for the contact section */
.section-contact-li a {
  text-decoration: none;
  border-bottom: 0.5rem solid;
  padding: 1rem;
  margin: 0 -1rem;
  color: #333;
}

/* There is a conflict with the links on the sight which is why !important is used to force them to work */
.section-contact-li a:hover,
.section-contact-li a:active {
  color: #67e8f9 !important;
}

.section-contact-li a:link,
.section-contact-li a:visited {
  color: #333;
}

/* footer links placed into grid row 5 and spans cell 2 to 3 */
/* this applies to the links in the footer. */
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

/* styling for contact section in footer  title*/
.section-footer-contact {
  border-right: 1rem solid #1b5e81e8;
  margin-right: 5%;
  height: 20rem;
}
