/*************************************/
/* BELOW 1608px(Desktops) breakpoint divide by 16px browser standard*/
/*************************************/
@media screen and (max-width: 110em) {
  /* main header with name, profile name and navigation */
  .main-header {
    gap: 60rem;
  }

  /*  move profile heading in */
  .profile-heading {
    align-items: left;
    left: 120rem;
  }

  .header-profile-img img {
    max-width: 80%;
    height: 80%;
  }
}

/*************************************/
/* BELOW 1521px(Desktops) breakpoint divide by 16px browser standard*/
/*************************************/
@media screen and (max-width: 95em) {
  /* move h1-header and resize on page */

  /* main header with name, profile name and navigation */
  .main-header {
    gap: 40rem;
  }

  /*  move profile heading in */
  .profile-heading {
    align-items: left;
    left: 100rem;
  }

  .header-profile-img img {
    max-width: 60%;
    height: 60%;
  }

  .section-profile-img {
    height: 100%;
    width: 100%;
  }

  /* section work done with padding incuding border between background image */
  .section-work {
    /* spans 7 rows */
    grid-row: 2 / 7;
  }

  .article-work {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }

  /* This is the text on the background image for the recent work section */
  .section-recent-main-text {
    top: 80%;
  }
  /* This is the first previous work text on the background image */
  .section-previous-first-text {
    top: 80%;
  }

  /* This is the second previous work section which places it in a precise cell in the grid */
  .section-previous-second {
    grid-column: 2/3;
    grid-row: 4/6;
    position: relative;
    border: 0.5rem solid #67e8f9;
  }

  /* This is the second  previous work text on the background image */
  .section-previous-second-text {
    top: 40%;
    z-index: 9999;
  }

  /* This is the third previous work text on the background image */
  .section-previous-third {
    grid-column: 2/3;
    grid-row: 5/6;
    position: relative;
    border: 0.5rem solid #67e8f9;
  }
  /* This is the third  previous work text on the background image */
  .section-previous-third-text {
    top: 40%;
  }

  /* This is the fourth previous work text on the background image */
  .section-previous-fourth {
    grid-column: 2/3;
    grid-row: 6/7;
    position: relative;
    border: 0.5rem solid #67e8f9;
  }

  /* This is the fourth  previous work text on the background image */
  .section-previous-fourth-text {
    top: 40%;
  }

  /* styling for contact section in footer  title*/
  .section-footer-contact {
    grid-column: 1/2;
    grid-row: 7/7;
    border-right: 1rem solid #1b5e81e8;
    /* margin-right: 4rem; */
    height: 20rem;
  }

  /* move footer hyperlinks into cell 2 */
  .footer {
    grid-column: 2/3;
    grid-row: 7/7;
  }

  .section-contact-li a {
    margin: 0 1rem;
    color: #333;
  }
}

/*************************************/
/* BELOW 1450px(Desktops) breakpoint divide by 16px browser standard*/
/*************************************/
@media screen and (max-width: 92em) {
  /* main header with name, profile name and navigation */
  .main-header {
    gap: 10rem;
  }

  /*  move profile heading in */
  .profile-heading {
    align-items: left;
    left: 80rem;
  }

  .section-contact-ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

/*************************************/
/* BELOW 1176px(Desktops) breakpoint divide by 16px browser standard*/
/*************************************/
@media screen and (max-width: 72em) {
  /* main header with name, profile name and navigation */
  .main-header {
    gap: 5rem;
  }

  /* h1 header with name at the top of the page left. */
  .h1-header {
    font-size: 4rem;
    height: 8rem;
  }

  .nav-ul {
    font-size: 4rem;
  }

  /*  move profile heading in */
  .profile-heading {
    align-items: left;
    left: 60rem;
  }
}

/*************************************/
/* BELOW 955px(Desktops) breakpoint divide by 16px browser standard*/
/*************************************/
/* h1 header with name at the top of the page left. */

@media screen and (max-width: 60em) {
  .h1-header {
    font-size: 4rem;
    height: 10rem;
  }

  .nav-ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-size: 2rem;
    padding: 0rem;
    gap: 0.3rem;
  }

  /*  move profile heading in */
  .profile-heading {
    align-items: left;
    left: 10rem;
    font-size: 4rem;
  }

  .header-profile-img img {
    max-width: 25%;
    height: 25%;
  }
}
